doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .fpsContainer
      #clientfps
      #serverfps

  // change to live
  script(type='text/Javascript', src='/reload/reload.js')

  script(type='text/Javascript', src='socket_io.js')
  script(type='text/Javascript', src='three.js')
  script(type='text/Javascript', src='OrbitControls.js')
  script(type='text/Javascript', src='gamecore.js')  
  script(type='text/Javascript', src='mp.js')